.list-item {
  display: flex;
  justify-content: space-around;
  border: 2px solid #d7dfe9;
}
.title-value {
  color: #334155;
  font-size: 12px;
  font-family: 'Roboto';
}
.delete {
  width: 25px;
}
