.money-details-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.balance-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  margin: 10px;
  background-color: #ecfccb;
  border-radius: 10px;
}
.balance {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #84cc16;
}
.heading {
  color: #475569;
  font-size: 10px;
  font-family: 'Roboto';
}
.money {
  color: #475569;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 300;
}
.income-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  margin: 10px;
  background-color: #cffafe;
  border-radius: 10px;
}
.income {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #06b6d4;
}
.expense-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  margin: 10px;
  background-color: #ede9fe;
  border-radius: 10px;
}
.expense {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #7c3aed;
}
